extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Configure Access
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='key') API Key
      .col-md-7
        input.form-control(type='text', name='key', id='key', placeholder='Bitfinex API Key', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='secret') API Secret
      .col-md-7
        input.form-control(type='text', name='secret', id='secret', placeholder='Bitfinex API Secret', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Passowrd
      .col-md-7
        input.form-control(type='password', name='password', id='password', placeholder='Osmosis Password', required)
        p.help-block.text-danger: strong Please enter your Osmosis password, not your Bitfinex password
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.col-md-3.btn.btn-primary(type='submit') Save Key